.container {
      width: 100vw;
      max-width: 100vw;
      height: 100vh;
      max-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-x: auto;
}

.routines_top {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      align-items: center;
      width: 90%;
      max-width: 90%;
}

.rountines_text {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      align-items: center;
      width: 90%;
      max-width: 90%;
      border: solid 2px black;
      border-radius: 20px;
      background-color: lightblue;
}

.routine_button {
      margin-bottom: 10px;
}