.container {
      width: 100vw;
      max-width: 100vw;
      height: 100vh;
      max-height: 100vh;
      display: flex;
      flex-direction: column;
}

.top {
      display: flex;
      background-color: rgb(56, 56, 239);
      justify-content: space-evenly;
      align-items: center;
      color: white;
      font-size: 22px;
      height: 55px;
      min-height: 55px;
      width: 100%;
      max-width: 100%;
      border-bottom: solid 3px rgb(216, 211, 38);
}

a {
      color: white;
}

a:link,
a:visited {
      text-decoration: none;
}

a:hover {
      color: aqua;
      text-decoration: underline;
}

a:active {
      text-decoration: underline;
}

.App {
      background-color: white;
}